<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a href="#" class="navbar-brand">File Location Software</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar1" >
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Barcode <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/fgbarcode">Barcode Generation</a></li>
          <li><a routerLink="/putaway">Putaway</a></li>
          <!-- <li><a routerLink="/picklist-barcode">Picklist Barcode Generation</a></li> -->
          
        </ul>
      </li>
      <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/add-part">Add Parts</a></li>
          <li><a routerLink="/add-location">Add Locations</a></li>
        </ul>
      </li> -->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/report">Detail Report</a></li>
          <li><a routerLink="/location-report">Locations Report</a></li>
          
        </ul>
      </li>
     
        </ul>

  </div>
  </div>
</nav>